# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
/fontawesome-free-6.4.0-web
/fontawesome-free-5.12.1-web
.env
.images
/images
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
